# advanced-wallets code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @BitGo/wallet-core @BitGo/wallet-core-india
